# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/

# PyInstaller
build/

# Application-specific user data
app_settings.json
managed_scripts.json
*.md
*.mdc
userinput.py
.cursorrules
.cursorignore
dist/ScriptUpdaterApp.exe
app.log
testing/